nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: white;
  text-transform: uppercase;
  background-color: white;
  letter-spacing: 5px;
  height: 90px;
}

.navlinks {
  display: inline;
  justify-content: space-around;
  width: 40%;
  background-color: white;
}

.navlinks li {
  list-style: none;
  background-color: white;
  display: inline;
}
.navlinks li :hover {
  color: black;
}

.navlinks a {
  display: inline;
  margin-right: 50px;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  text-decoration: none;
  font-weight: 10px;
  font-size: 17px;
}

.btnUserMenu {
  background: linear-gradient(90deg, rgb(7, 69, 105) 0%, rgb(0, 232, 236) 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btnUserMenu:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
