.type {
  width: 1400px;
  align-self: center;
  padding: 20px 70px 70px 50px;
  font-size: 0;
  color: white;
  background-color: white;
  border-radius: 5px;
}

.tran {
  transition: transform 1s ease;
}

.tran:hover {
  transform: scale(1.15);
}

.brandshead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 50px;
}
